opennms-config-model/src/main/resources/xsds/eventd-configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://xmlns.opennms.org/xsd/config/eventd"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:this="http://xmlns.opennms.org/xsd/config/eventd"
        xmlns:ns2="http://www.w3.org/1999/xhtml"
        xmlns:ns="http://www.w3.org/2001/XMLSchema"
		  xmlns:hfp="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty"
		  elementFormDefault="qualified">
  <annotation>
    <documentation>XML Schema for the eventd-configuration.xml configuration
    file. Version: $Id$. </documentation>
  </annotation>

  <element name="EventdConfiguration">
    <annotation>
      <documentation>Top-level element for the eventd-configuration.xml
      configuration file. </documentation>
    </annotation>

    <complexType>
      <simpleContent>
      <extension base="string">

      <attribute name="queueLength" use="optional">
        <annotation>
          <documentation>The maximum number of incoming events that can be
          queued inside eventd for processing.</documentation>
        </annotation>

        <simpleType>
          <restriction base="int">
            <minInclusive value="1"/>
          </restriction>
        </simpleType>
      </attribute>

      <attribute name="getNextEventID" type="string" use="optional">
        <annotation>
          <documentation>SQL query to get next value of the 'nodeNxtId'
          database sequence. This is used to make the access database
          independent.</documentation>
        </annotation>
      </attribute>

      <attribute name="logEventSummaries" type="boolean" use="optional" default="true">
        <annotation>
          <documentation>Whether or not to log a simple event summary.  By default, OpenNMS
          logs detailed event information at DEBUG level.  If this option is enabled,
          it will additionally log a simple summary of events received at INFO.</documentation>
        </annotation>
      </attribute>

       <attribute name="sink-threads" use="optional">
        <annotation>
          <documentation>Number of threads used for consuming/dispatching messages.
            Defaults to 2 x the number of available processors.
          </documentation>
        </annotation>

        <simpleType>
          <restriction base="int">
            <minInclusive value="0"/>
          </restriction>
        </simpleType>
      </attribute>
      <attribute name="sink-queue-size" use="optional" default="10000">
        <annotation>
          <documentation>Maximum number of messages to keep in memory while waiting
            to be dispatched.
          </documentation>
        </annotation>

        <simpleType>
          <restriction base="int">
            <minInclusive value="1"/>
          </restriction>
        </simpleType>
      </attribute>
      <attribute name="sink-batch-size" use="optional" default="1000">
        <annotation>
          <documentation>Messages are aggregated in batches before being dispatched.
            When the batch reaches this size, it will be dispatched.
          </documentation>
        </annotation>

        <simpleType>
          <restriction base="int">
            <minInclusive value="1"/>
          </restriction>
        </simpleType>
      </attribute>
      <attribute name="sink-batch-interval" use="optional" default="500">
        <annotation>
          <documentation>Messages are aggregated in batches before being dispatched.
            When the batch has been created for longer than this interval (ms)
            it will be dispatched, regardless of the current size.
          </documentation>
        </annotation>

        <simpleType>
          <restriction base="int">
            <minInclusive value="0"/>
          </restriction>
        </simpleType>
      </attribute>
      </extension>
      </simpleContent>
    </complexType>
  </element>
</schema>
